---
layout: index
---

<ul class="posts">
	{% for post in paginator.posts %}
		<li class="post post-header">
			{% if post.docurl %}
			  <a href="{{ post.docurl }}" class="post-link post-title" target="_blank">
				{{ post.title }}<br />
				<small class="meta">
				  <time>{{ post.date | date_to_string }}</time>
				</small>
			  </a>
			{% else %}
			  <a href="{{ post.url }}" class="post-link post-title">
				{{ post.title }}<br />
				<small class="meta">
				  <time>{{ post.date | date_to_string }}</time>
				</small>
			  </a>
			{% endif %}
		</li>
	{% endfor %}
	
	{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		<em>{{ page }}</em>
		{% elsif page == 1 %}
		<a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
		{% else %}
		<a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
	{% endfor %}
	
	{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
	{% else %}
		<span>Next &raquo;</span>
	{% endif %}
</ul>
